page-home {
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }

	[green] ion-icon{
		color: green;
	}
	[green] button{
		background: white;
	}
    .gmnoprint, .gm-fullscreen-control{
    	display:none;
    }

    [active-driver]{

    }

}
